.dropdown{
    display: inline-block;
}

.dropdown button{
    background-color: hsl(0, 0%, 80%);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}

.dropdown .content{
    display: none;
    position: absolute;
    background-color: hsl(0, 0%, 95%);
    min-width: 100px;
    box-shadow: 2px 2px 5px hsl(0, 0%, 0.8%);
}

.dropdown:hover .content{
    display: block;
}

.dropdown:hover button{
    background-color: hsl(0, 0%, 70%);
}

.dropdown a:hover{
    background-color: hsl(0, 0%, 90%);
}