@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: url(images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    width: 80%;
    height: 100px;
    border-bottom: 2px solid rgba(255,255,255,0.06);
    margin: auto;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header nav .logo a{
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
}

nav ul{
    list-style: none;
    display: flex;
    column-gap: 30px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav .menu{
    display: flex;
    align-items: center;
    column-gap: 48px;
}

nav .menu .menu-button{
    color: #0ba2c0;
    text-decoration: none;
    background: rgba(255,255,255,0.08);
    padding: 12px 24px;
    border-radius: 56px;
}