*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(images/bg.jpg);
    font-family: sans-serif;
}

.menu-bar{
    background: #5b71b5;
    text-align: center;
}

.menu-bar ul{
    display: inline-flex;
    list-style: none;
}

.menu-bar ul li{
    width: 150px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li a{
    text-decoration: none;
    color: #fff;
}

.active,
.menu-bar ul li:hover{
    background-color: #d4c995;
    border-radius: 10px;
}

.menu-bar .fa-solid{
    margin-right: 8px;
}

.sub-menu-1{
    display: none;
}

.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: #5b71b5;
    margin-top: 15px;
    margin-left: -15px;
    font-size: 10px;
    
}