*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background: #f3f3f3;
}

.header{
    background: #1da1f2;
    height: 100px;
    padding: 0 20px;
    color: #fff;
}

.logo{
    line-height: 100px;
    float: left;
    cursor: pointer;
}

.menu{
    float: right;
    line-height: 100px;
}

.menu a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}

.show-menu-btn,
.hide-menu-btn{
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.show-menu-btn{
    float: right;
}

.show-menu-btn i{
    line-height: 100%;
    padding: 30px 0;
}
