#box1{
    width: 200px;
    height: 200px;
    background-color: hsl(188, 100%, 63%);
    position: sticky; 
    top: 0px;
}

#box2{
    width: 100px;
    height: 100px;
    background-color: hsl(0, 100%, 65%);
    position: absolute;
    top: 50px;
    left: 50px;
}